{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace adwlm=ADWLM\CategorySelector\ViewHelpers}

<f:if condition="{nextLevel} == 1">
    <f:then>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {childCategory.title} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <f:render partial="ChildCategoryRecursion" arguments="{
                    categoryTree : categoryTree,
                    selectedCategories : selectedCategories,
                    currentCategory : childCategory,
                    currentLevel : nextLevel,
                    stopRecursionOnLevel : stopRecursionOnLevel}"
                />
            </ul>
        </div>
    </f:then>
    <f:else>
        <f:if condition="{nextLevel} == 2">
            <f:alias map="{childCategoryTitleNoWhitespaces: '{v:format.eliminate(content: childCategory.title, whitespace: 1, nonAscii: 1)}'}">
                <li class="level{nextLevel} {f:if(condition:'{adwlm:InArrayExplode(needle : childCategory.uid, haystack : selectedCategories)}', then : 'selected', else : 'no')}">
                    <a href="#" data-filter=".{childCategoryTitleNoWhitespaces}">{childCategory.title}</a>
                </li>
            </f:alias>
        </f:if>
    </f:else>
</f:if>
