<f:if condition="{settings.selectedCategories}">
	<f:render partial="SelectedCategories" arguments="{selectedCategoriesArray : settings.selectedCategoriesArray}" />
</f:if>

<div id="it-filters">
    <f:for each="{categoryTree.0}" as="currentCategory">
        <f:render partial="ChildCategoryRecursion" arguments="{
            categoryTree : categoryTree,
            selectedCategories : settings.selectedCategories,
            currentCategory : currentCategory,
            currentLevel : 0,
            stopRecursionOnLevel : settings.recursive}"
        />
    </f:for>
</div>